@tailwind base;
@tailwind components;
 /* .btn-hover{
    @apply hover:border-b-2 transform transition-transform duration-300 hover:scale-110 active:text-red-800
} */
.btn-hover {
    @apply relative inline-block text-white py-2 transition-transform duration-300 transform hover:scale-110;
}
.btn-hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: #EBF400;
    transition: width 0.3s ease;
}

.btn-hover:hover::after {
    width: 100%;
}
@tailwind utilities;